@model CategoriasModel
@{
    ViewData["title"] = "Nueva Categoria";
}

<h1>Nuevo Categoria</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly"></div>

            <form asp-action="CrearCategoria">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Nombre_categoria" class="form-label">Nombre Categoria</label>
                    <input asp-for="Nombre_categoria" type="text" class="form-control">
                    <span asp-validation-for="Nombre_categoria" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Descripcion_categoria" class="form-label">Descripcion Categoria</label>
                    <input asp-for="Descripcion_categoria" type="text" class="form-control">
                    <span asp-validation-for="Descripcion_categoria" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Restriccion_edad_categoria" class="form-label">Restirccion de Edad</label>
                    <input asp-for="Restriccion_edad_categoria" type="text" class="form-control">
                    <span asp-validation-for="Restriccion_edad_categoria" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Nota_categoria" class="form-label">Nota</label>
                    <input asp-for="Nota_categoria" type="text" class="form-control">
                    <span asp-validation-for="Nota_categoria" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
