@model DirectoresModel
@{
    ViewData["Title"] = "Editar Director";
}

<h1>Editar Director</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Apellido" class="form-label">Apellidos</label>
                    <input asp-for="Apellido" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Nacionalidad" class="form-label">Nacionalidad</label>
                    <input asp-for="Nacionalidad" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Premios" class="form-label"> Premios</label>
                    <input asp-for="Premios" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>

        </div>
    </div>
</div>