@model PeliculasModel
@{
	ViewData["Title"] = "Nueva Pelicula";
}

<h1>Nueva Pelicula</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">

            <div asp-validation-summary="ModelOnly"></div>
            <form asp-action="Create">

                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Titulo" class="form-label">Titulo</label>
                    <input asp-for="Titulo" type="text" class="form-control">
                    <span asp-validation-for="Titulo" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Categoria" class="form-label">Categoria</label>
                    <input asp-for="Categoria" type="text" class="form-control">
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Sinopsis" class="form-label">Sinopsis</label>
                    <input asp-for="Sinopsis" type="text" class="form-control">
                    <span asp-validation-for="Sinopsis" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Duracion" class="form-label">Duracion</label>
                    <input asp-for="Duracion" type="text" class="form-control">
                    <span asp-validation-for="Duracion" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Director" class="form-label">Director</label>
                    <input asp-for="Director" type="text" class="form-control">
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Fecha_estreno" class="form-label">Fecha de estreno</label>
                    <input asp-for="Fecha_estreno" type="text" class="form-control">
                    <span asp-validation-for="Fecha_estreno" class="text-danger"></span>
                </div>
               
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
		</div>
	</div>
</div>